.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: teal;
    line-height: 60px;
}

.black{
    color: white;
    text-align: center;
}

.container{
    width: 320px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}